@tailwind base;
@tailwind components;
@tailwind utilities;


/* @layer components {
        * {
            border: 1px dashed red;
        }
*/

@layer components {
    .pfp-input {
        display: none;
    }

    .pfp-input-label {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 9999px;
        border: 2px dashed #3e47c9;
        cursor: pointer;
        height: 5rem;
        width: 5rem;
        background-color: #3e47c9;
    }

    .pfp-input-icon {
        height: 3rem;
        width: 3rem;
    }

    .pfp-input-icon:hover{
        opacity: 0.8;
    }

    .pfp-input-text {
        font-size: 0.6rem;
        width: 100%;
        text-align: center;
        font-weight: bold;
        resize: none;
        color: #ffff;
    }


    .threadInput::-webkit-scrollbar {
        width: 10px; /* Width of the scrollbar */
        border-radius: 5px; /* Rounded corners */
    }

    .threadInput::-webkit-scrollbar-track {
        background: #ffff; /* Background color of the scrollbar track with opacity */
        border-radius: 5px; /* Rounded corners */
        resize: vertical; /* Allow vertical resizing */
        overflow: hidden; /* Hide any overflowing content */
    }

    .threadInput::-webkit-scrollbar-thumb {
        background: rgba(62, 71, 201, 1); /* Color of the scrollbar thumb with opacity */
        border-radius: 5px; /* Rounded corners */
    }

    .threadInput::-webkit-scrollbar-thumb:hover {
        background: rgba(85, 85, 85, 1); /* Color of the scrollbar thumb on hover with opacity */
    }
}

    .threadInputBlock {
        display: flex;
        align-items: center;
        justify-content: center;
        height: var(--divHeight);
    }

    @media only screen and (max-width: 1024px) {
        .threadInputBlock {
            width: 100%;
        }
    }

    @media only screen and (min-width: 1024px) {
        .threadInputBlock {
            width: calc(100vw - 300px);
        }
    }



@layer base {
    body {
        font-family: 'Gordita', sans-serif;
    }
}

.bg-header {
    background: url("/src/assets/social-media-5187243_1920.png") center center no-repeat;
    background-attachment: fixed;
}
/*
.bg-quote {
    background: url(https://picsum.photos/1600/1600/?random) center center no-repeat;
    background-attachment: fixed;
}
*/


